.employee__link {
  border-bottom: 1px solid #363738;
  padding: 0 12px 6px;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid #0047bb;
  color: #e1e3e6;
}
.history-mobile{
    display: none;
}

.vacation{
    max-height: 444px;
}
.statistics {
  max-width: 516px;
  flex: 1;
  color: #E1E3E6;
}
.statistics__item {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px 12px 12px;
  border-radius: 12px;
  border: 1px solid #363738;
}
.statistics__list {
  color: #e1e3e6;
}
.statistics__item-text {
  position: relative;
  padding-left: 12px;
}
.statistics__item-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 50px;
  width: 6px;
  height: 6px;
}
.statistics__item-text.red:before {
  background: #db4546;
  border: 1px solid #db4546;
}

.statistics__item-text.yellow:before {
  background: #ffb649;
  border: 1px solid #ffb649;
}

.statistics__item-text.green:before {
  background: #008000;
  border: 1px solid #25824f;
}

.history{
    max-width: 962px;
    flex: 1;
    min-width: 480px;
}

.history__list li:not(:last-child) {
    border-bottom: 1px solid #363738; 
  }

  @media(width<890px){
    .vacation {
        flex-direction: column;
        max-height: none
    }
    .statistics{
        max-width: none;
    }
    .history{
        margin-bottom: 32px;
    }
  }

@media (width<675px) {
  .profile-info {
    flex-direction: column;
    align-items: center;
  }
  .profile-name {
    text-align: center;
  }
  .profile-post {
    text-align: center;
  }
}
@media(width<530px){
    .history{
        display: none;
    }
    .history-mobile{
        display: block;
    }
    .statistics{
        padding: 24px 16px;
    }
    .statistics-title{
        font-size: 16px;
        line-height: 24px;
    }
}